<mat-nav-list>
    <h3 mat-subheader>项目</h3>

    <mat-list-item routerLink="/project" (click)="onNavClick()">
        <mat-icon mat-list-icon svgIcon="projects"></mat-icon>
        <span mat-line>项目首页</span>
        <span mat-line mat-subheader>查看您参与的全部项目</span>
    </mat-list-item>
    <h3 mat-subheader>日历</h3>
    <mat-list-item (click)="onNavClick()">
        <mat-icon mat-list-icon svgIcon="month"></mat-icon>
        <span mat-line>月视图</span>
        <span mat-line mat-subheader> 按月方式查看事件 </span>
    </mat-list-item>
    <mat-list-item (click)="onNavClick()">
        <mat-icon mat-list-icon svgIcon="week"></mat-icon>
        <span mat-line>星期视图</span>
        <span mat-line mat-subheader> 按星期方式查看事件 </span>
    </mat-list-item>
    <mat-list-item (click)="onNavClick()">
        <mat-icon mat-list-icon [svgIcon]="today"></mat-icon>
        <span mat-line>当日视图</span>
        <span mat-line mat-subheader> 按天方式查看事件 </span>
    </mat-list-item>
</mat-nav-list>
