<form>
  <h3 mat-dialog-title>{{title}}</h3>
  <div mat-dialog-content>
      <mat-form-field class="full-width">
          <input matInput type="text" placeholder="列表名称">
      </mat-form-field>
      <mat-form-field class="full-width">
          <input matInput type="text" placeholder="列表描述">
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button type="button" mat-raised-button color="primary" (click)="onClick()">确定</button>
      <button type="button" mat-dialog-close mat-raised-button>取消</button>
  </div>
</form>
