<div [formGroup]="forms" class="full-width">
  <span>{{label}}</span><br>
  <mat-form-field>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let member of items"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(member)">
        {{member.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
<!--       <input
        #fruitInput
        [placeholder]="placeholderText"
        formControlName="memberSearch"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"> -->
        <input
          [placeholder]="placeholderText"
          formControlName="memberSearch"
          [matAutocomplete]="auto">
    </mat-chip-list>
  </mat-form-field>
</div>
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleMemberSelection($event)" [displayWith]="displayUser">
  <mat-option *ngFor="let item of memberResults$ | async" [value]="item">
    {{item.name}}
  </mat-option>
</mat-autocomplete>

